

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Mashiri Law Firm</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="http://localhost:3000/">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li> 
      <li><a href="#">Page 3</a></li> 
    </ul>
  </div>
</nav>
<%- include('partials/header') %>
<div class="form-container">

    <h2>homepage</h2>
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>

        <div class="form-group">
            
            <a href="/login" class="btn btn-link">Login</a>
        </div>
                <div class="form-group">
            
            <a href="/register" class="btn btn-link">Register</a>
        </div>

</div>
<%- include('partials/footer') %>